

h1, h2 {
	font-size: 2.8em;
	color: dodgerblue;
}

img{
	height:400px;
	width:600px;
}

p{
	color: black;
	font-style:oblique
}

p1 {
	color: #ff1493;
	font-style:italic;
}

body {
	background-color: #FFEBEB;
	border: initial;
	border-radius: 2%;
}