@{
    ViewData["Title"] = "Riyas Mold";
}

<div class="text-center">
    <h1>History</h1>

    <p>Riya is Founder and CEO of the company Riyas Mold.</p>
    <p>Riyas Mold factories produces the tray of ice cube and many other products but we are well known for the trays.</p>
    <p>
        It was orginally an factory who sells the products to the company. So, basically we are the manfactures. It was a family bussiness
        before few year it was given further to Riya and she expanded it by making her own company to sell the products
    </p>

    <p>It is an multi-national company and we ensure you great quality from last 15years.</p>

    <p>We have more than lakhs of people working in our factory and company</p>

    <h2>Trays</h2>

    <p>We have variety of trays in all shapes, color , size , grids and materials</p>

    <img src="~/img/tray.jpg" />

    <p>One can find millions of color trays here and shapes have more than shapes.</p>
    <p>
        One can find animals, fruits and any other surrounding object in the form of shapes which is most popular among the kids as sometimes they
        find even toys as shape in our trays
    </p>
    <p>We provide the trays of plastic, silicon and metal but the demand of metal trays are very less we can take pre-orders for it!</p>
    <p>The grids are always available in even number</p>

    <p>Additionally we also provide the ratings which is based on the feed back from the costumbers. So,you can find the products which you need perfectly</p>

    </div>
    <style>
        div.text-center {
            background-color: #FFEBEB;
            border: initial;
            border-radius: 2%;
        }
    </style>
