@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Riyas Mold</h1>
    <p1>"We are well known for ice cube trays"</p1>
    <br />

    <img style=" height: 500px; width: 550px; " src="~/img/Molds.jpg" />

    <div>
    <img style=" padding: 5px;  height: 400px; width: 400px;" src="~/img/Fruittray.jpg" />
 
    <img style="  padding: 5px; height: 400px; width: 400px;" src="~/img/Icecube.jpg" />
</div>

    <style>
        div.text-center {
            background-color: #FFEBEB;
            border: initial;
            border-radius: 2%;
        }

       
    </style>

</div>