
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>

    <p>We have pricay and policies.</p>

    <p>This site use cookies</p>
    <p>By accepting the cookie you allow us to view your location.</p>
    <p>In order to use this application location is required</p>
    <p>Your contact information will be shared with us</p>
    <p>No third part app is genrated</p>
    <p>We do save your credit/debit details if you allow us to store it.</p>
    <p>Your every shared data is privatr for you we will keep i safe</p>

    </div>

    <style>
        div.text-center {
            background-color: #FFEBEB;
            border: initial;
            border-radius: 2%;
        }
    </style>
